<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <script src="https://kit.fontawesome.com/06a70b2dd1.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <style> </style>
</head>

<body>
    <header class="header-general">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <input class="search-header" placeholder="buscar poducto, marcas">
        <div class="lupa">

            <i class="fa-solid fa-magnifying-glass"></i>
        </div>


        <div class="mano-regalo">
            <i id="mano" class="fa-solid fa-hand-holding-heart"></i>
            <p> compra en cuotas y sin tarjeta de credito</p>
        </div>


        <nav class="ofertas">
            <ul class="botones">
                <li><a class="linck" href=""> Ofertas </a></li>
                <li><a class="linck" href=""> Tiendas oficiales </a></li>
                <li><a class="linck" href=""> Vender </a></li>
                <li><a class="linck" href=""> Ayuda </a></li>
            </ul>
        </nav>
        <nav class="login">
            <ul>
                <li><a class="link" href="/registre"> Crear tu cuenta </a><i id="registre"
                        class="fa-solid fa-address-card"></i></li>
                <li><a class="link-login" href="/login"> Ingresar </a><i id="ingresar"
                        class="fa-solid fa-right-to-bracket"></i></li>
                <li><a class="link" href=""> Mis compras </a><i id="canasta" class="fa-solid fa-basket-shopping"></i>
                </li>

            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img class="banner" src="/img/img-home-banner.jpg" alt="">
    <main class="main-conteiner p-4">

        

            <form class="container" action="/login" method="">

                <div class="row">

                    <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">
                            <label class="visually-hidden" for="autoSizingInputGroup">Ingrese su Nombre y Apellido</label>
                            <input type="text" class="form-control" id="autoSizingInputGroup"
                                placeholder="Ingrese su Nombre y Apellido">
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">
                        <label class="visually-hidden" for="autoSizingInputGroup">Nombre usuario</label>
                        <div class="input-group-text ">😉</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Nombre usuario">
                        </div>
                    </div>

             
                    <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">

                            <label class="visually-hidden" for="autoSizingInputGroup">email</label>
                            <div class="input-group-text ">@</div>
                            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="email">
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">
                            <label class="visually-hidden" for="autoSizingInputGroup">Fecha de nacimiento</label>
                            
                            <input type="date" class="form-control  " id="autoSizingInputGroup" placeholder="date">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">

                            <label class="visually-hidden" for="autoSizingInputGroup">domicilio</label>
                            <div class="input-group-text">🗺️</div>
                            <input type="text" class="form-control  " id="autoSizingInputGroup" placeholder="domicilo">
                        </div>
                    </div>

                    <div class="col-12">
                        <h2 class="font-size-base my-5">Perfil del usuario</h2>
    
                        <div class="mb-4">
                            <label for="comprador">comprador</label>
                            <input type="radio" name="compra" value="si">
                        </div>
                        <div class="mb-4">
                            <label for="vendedor">Vendedor</label>
                            <input type="radio" name="compra" value="no">
                        </div>
                    </div>

                    <div class="col-12 row p-0 m-0">

                        <h2 class="col-12 font-size-base my-5">Intereses</h2>
                        
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
    
                            <input class="form-check-input" name="intereses" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Electro
                            </label>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <input class="form-check-input" name="intereses" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Moda
                            </label>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <input class="form-check-input" name="intereses" type="checkbox" value="" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                Yoga
                            </label>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <input class="form-check-input" name="intereses" type="checkbox" value="" id="defaultCheck4">
                            <label class="form-check-label" for="defaultCheck4">
                                Jugeteria
                            </label>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 mb-4">
                            <input class="form-check-input" name="intereses" type="checkbox" value="" id="defaultCheck5">
                            <label class="form-check-label" for="defaultCheck5">
                                Vida sana
                            </label>
                        </div>
                    </div>
                    <div class="col-12 md-8 lg-8 mb-4">
                        <input type="file" name="avatar" accept="jpg" multiple>
                    </div>
            
                   <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">

                            <label class="visually-hidden" for="autoSizingInputGroup"></label>
                            <div class="input-group-text">*</div>
                            <input type="password" name="password" class="form-control" id="autoSizingInputGroup"
                            placeholder="elegir contraseña">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 mb-4">
                        <div class="input-group">

                            <label class="visually-hidden" for="autoSizingInputGroup"></label>
                            <div class="input-group-text">*</div>
                            <input type="password" name="password" class="form-control" id="autoSizingInputGroup"
                            placeholder="repetir contraseña">
                        </div>
                    </div>

                </div>

                <div class="button md-8 lg-8 d-grid gap-2 d-md-flex justify-content-md-end">

                    <button class="button flex diretion-end btn btn-primary " type="submit" name="Enviar"
                        href="login.html">Enviar</button>
                    <button class="button  flex diretion-end btn btn-secondary " type="reset"
                        name="borrar">Borrar</button>
                </div>


            </form>
       


    </main>
    <footer>
        <div class="div-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="h4-div-footer">Pagá con tarjeta o en efectivo </h4>
            <p class="text-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro</p>
        </div>
        <div class="div-footer">
            <i class="fa-solid fa-gift"></i>
            <h4 class="h4-div-footer">Envío gratis desde $ 2.500</h4>
            <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="div-footer">
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="h4-div-footer">Seguridad, de principio a fin</h4>
            <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@. </p>
        </div>
        <p class="p-copy">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>