:root{
    --variable-color-Amarillo:hwb(50 15% 9%);
    --color-Azul:hwb(211 1% 71%);
    --color-Celeste:hwb(216 7% 24%);
    --color-Grisoscuro:hwb(0 40% 60%);
    --color-Grisclaro:hwb(0 92% 8%);
    --color-Verde:hwb(128 22% 29%);
}

*{
    box-sizing: border-box;
    font-family: 'Roboto';
} 
   

  
      
