:root{
    --color-Amarillo: #EAC926;
    --color-Azul: #03264C;
    --color-Celeste: #1259c3;
    --color-Grisoscuro:#666;
    --color-Grisclaro:#ebebeb;
    --color-Verde: #39b54a;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
   



      
