.header-general {
background-color: var(--color-Amarillo);
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.header-general img input .ifa-solid-fa-magnifying-glass {
display: flex;
border: 2px solid white;
justify-content: flex-end;
position: absolute;
margin-top: 78px;
margin-left: 204px;
background-color: white;
}
.logo {
width: 47%;
margin: 6%;
}

.search-header {
width: 56%;
margin-left: 7%;
position: relative;
}
.lupa{

position: absolute;
font-size: 17px;
margin-top: 24%;
margin-left: 65%;
background-color: white;
border: 1px solid rgb(100, 100, 100);

}  
.lupa .fa-solid-fa-magnifying-glass{

display: flex;
border: 2px solid white;
justify-content: flex-end;
position: absolute;
margin-top: 78px;
margin-left: 204px;
background-color: white;
}
#mano{
    margin-top: -17px;
    margin-left: 0%;
}
.mano-regalo{display: flex;margin-left: 39px;font-size: 14px;justify-content: flex-start;align-items: center;margin: 7px;}
.login ul li {
    display: inline;
}

.ofertas ul li {

}
.ofertas  {
display: none;
/* margin-top: 0%; */
text-decoration: none;
}
.botones a {


color: black;

}
.login {text-decoration: none;color: black;padding: 0;margin: 0;display: none;}
.link {
color: black;
margin: 0%;
padding: 0;
}
.burger-menu {display: flex;justify-content: center;color: var(--color-Grisclaro);font: 1em sans-serif;background-color: var(--color-Celeste);width: 12%;font-size: 21px;margin-left: 42%;border-radius: 4px;padding: 9px;margin-bottom: 20px;}
/* TABLET */ 
@media (min-width:426px) {
.header-general {
}

.logo {width: 29%;margin-left: 4%;}
body {}
.search-header {font-size: 18px;margin-top: 10%;width: 25%;margin-left: 34%;height: 3%;position: absolute;}
.lupa{margin-left: 60%;margin-top: 78px;width: 3%;height: 22px;}
.fa-solid-fa-magnifying-glass{}

.mano-regalo{margin-left: 513px;display: flex;position: absolute;top: 11%;font-size: 14px;}


.login ul li {
    display:inline; 
    justify-content: flex-end;
    margin: 0 0 0 8px;
}
.ofertas ul li{
display: inline;
margin-top: 23%;
margin: 0 0 0 12px;
}
.ofertas {display: inline;position: absolute;top: 33%;left: -3%;text-decoration: none;}
.botones a {}

.login {/* display: block; */display: inline;/* justify-content: flex-end; */align-items: center;margin-top: 10%;margin-left: 59%;}

.link {
}

.burger-menu {
display: none;
}
}
/* PORTATIL DESKTO  */
@media (min-width:769px){
.header-general {}

.logo {
}

body {}

.search-header {position: absolute;margin-top: 11%;font-size: 21px;height: 2%;}
.lupa{margin-left: 60%;margin-top: 11%;height: 22px;font-size: 15px;}
.fa-solid-fa-magnifying-glass{}

.mano-regalo{margin-left: 691px;}
.login ul li {
    
}
.ofertas ul li{
    
}
.ofertas {display: inline;top: 304px;list-style: none;text-decoration: none;margin-left: 3%;}

.botones a {}

.login {
}

.link {}

.burger-menu {}

}