.header-general {
background-color: var(--color-Amarillo);
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.header-general img input .ifa-solid-fa-magnifying-glass {
display: flex;
border: 2px solid white;
justify-content: flex-end;
position: absolute;
margin-top: 78px;
margin-left: 204px;
background-color: white;
}
.logo {
width: 47%;
margin: 6%;
}

.search-header {
width: 56%;
margin-left: 7%;
position: relative;
}
.lupa{

position: absolute;
font-size: 17px;
margin-top: 24%;
margin-left: 65%;
background-color: white;
border: 1px solid rgb(100, 100, 100);

}  
.lupa .fa-solid-fa-magnifying-glass{

display: flex;
border: 2px solid white;
justify-content: flex-end;
position: absolute;
margin-top: 78px;
margin-left: 204px;
background-color: white;
}
.mano-regalo{
display: flex;
margin-left: 40px;
font-size: 14px;
justify-content: flex-start;
align-items: center;
}
.ofertas {
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
align-items: flex-start;
display: none;

}
.botones a {

display: flex;
flex-direction: column;
align-items: flex-start;
text-decoration: none;
color: black;
margin: 0;
padding: 0;
}
.login {
text-decoration: none;
color: black;
padding: 0;
margin: 0;
display: none;
}
.link {
color: black;
margin: 0%;
padding: 0;
}
.burger-menu {
display: flex;
justify-content: center;
color: var(--color-Grisclaro);
font: 1em sans-serif;
background-color: var(--color-Celeste);
width: 12%;
font-size: 21px;
margin-left: 43%;
border-radius: 4px;
padding: 9px;
margin-bottom: 20px;
}
/* TABLET */ 
@media (min-width:426px) {
.header-general {
}

.logo {
width: 37%;
}
body {}
.search-header {
font-size: 17px;
margin-top: 18%;
width: 26%;
margin-left: 4%;
height: 5%;
position: absolute;
}
.lupa{
margin-left: 33%;
margin-top: 141px;
}
.fa-solid-fa-magnifying-glass{}

.mano-regalo{
margin-left: 369px;
}


.ofertas {
display: flex;
position: absolute;
margin-top: 28%;
}
.botones a {}

.login {
display: block;
display: flex;
justify-content: flex-start;
align-items: center;

margin-top: 10%;
}

.link {}

.burger-menu {
display: none;
}
}
/* PORTATIL DESKTO  */
@media (min-width:769px){
.header-general {}

.logo {
}

body {}

.search-header {
position: absolute;
margin-top: 18%;
font-size: 21px;
height: 3%;
}
.lupa{
margin-top: 184px;
margin-left: 320px;
}
.fa-solid-fa-magnifying-glass{}

.mano-regalo{
margin-left: 483px;
}

    .ofertas {}

    .botones a {}

    .login {}

    .link {}

    .burger-menu {}
}