body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    width: 47%
}

.header-general {
    background-color:#EAC926; 
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start;

}

.search-header {
    width: 45%;
}

.search-header i {
    color: var(--colorGrisclaro)
}