
    .link{
    text-decoration: none;
    list-style: none;
    display: inline;
    }

    #no-mostrar{
    display: none;
    }
    
    .link-registre{
    text-decoration: none;
    list-style: none; 
    }

    #registre{
    display: none; 
    }
    
    
    #ingresar{
    display: none; 
    }
 

