@media (min-width:426px) {
    .link{
        text-decoration: none;
        list-style: none;
       /* display:none;*/
    }
    #no-mostrar{
        display: none;
    }
    
    .link-registre{
        text-decoration: none;
        list-style: none;
       
    }
    #registre{
         display: none; 
    }
    
    
    #ingresar{
        display:none ;
    }
    }

@media (min-width:769px){

.link{
    text-decoration: none;
    list-style: none;
    display:none;
}

.link-registre{
    text-decoration: none;
    list-style: none;
    display: none;
}
#registre{
     display: none; 
}


#ingresar{
    display:none 
}
}